body {
    color:  #d6d4e0;
    background: #622569;
    font-family: Arial, Helvetica, sans-serif;
}

/* Thanks: https://codepen.io/danield770/pen/bgJOyV */
.select_container {
    width: 200px;
}

.ani_selector {
    font-weight: bold;
}

select {
  margin: 20px;
  width: 150px;
  padding: 5px 35px 5px 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  height: 34px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #b8a9c9;
  color:#622569;
}

/* Parameter Naming */
.param_name .param_value {
    float: left;
    width: 50%;
}

.param_text_container {
    margin: auto
}

/*  Slidaz
    Thanks: https://www.w3schools.com/howto/howto_js_rangeslider.asp 
*/
.slidecontainer {
    width: 100%; /* Width of the outside container */
    margin: 30px  
}

/* Mouse-over effects */
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;   
    background: #d6d4e0;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: #5b9aa0;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #5b9aa0;
    cursor: pointer;
}

