<html>

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='record_button.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">

    <script type=text/javascript src="{{ url_for('static', filename='jquery-3.2.1.min.js') }}"></script>
    
</head>

<body>

    <h1>THE ORACLE</h1>

    <!-- Slider Prototype. Gets cloned in slider.js to create sliders -->
    <div id="slider_prototype" class="slidecontainer" style="display:none">
        <div class="param_name"></div> 
        <div class="param_value"></div>

        <input class="slider" type="range" min="0" max="0" value="0" step="">
    </div>

    <!-- Device Controls -->
    {% for device in devices %}
    <div class="device" id="{{ device.name }}">

        <h2 class="device_name">{{device.name}}</h2>

        <!-- Parameters sliders -->
        <div class="select_container">
        <select class="ani_selector" name="{{device.name}}">
        
            {% for a_name in device['possible_animations'] %}
        
                {% if a_name == device['animation']['name'] %}
                    <option value={{a_name}} selected> {{a_name}} </option>
                {% else %}
                    <option value={{a_name}}> {{a_name}} </option>
                {% endif %}
        
            {% endfor %}
        
        </select>
        </div>

    </div>
    <hr>

    {% endfor %}

    <!-- Thanks: https://codepen.io/aeewhite/pen/BjzbOL -->
    <!-- Record button -->
    {% if fft_recorder %}
        <h1> FFT Recorder </h1>

        <p class="record_elapsed">Stopped.</p>
        <div class="rec_butt_container">
        <button class="record" id="recButton"></button>
        </div>
    {% endif %}

    <script type=text/javascript src="{{ url_for('static', filename='record.js') }}"></script>
    <script type=text/javascript src="{{ url_for('static', filename='slider.js') }}"></script>

    <!-- Initialise sliders -->
    <script type="text/javascript">
        var devices = {{ devices|tojson }}

        // Initialise slider set
        for(var i=0; i<devices.length; i++)
        {
            replace_slider(devices[i])
        }
    </script>

</body>

</html>